body {
    min-height: 100vh;
    min-height: -webkit-fill-available;
}

html {
    height: -webkit-fill-available;
}
hr{
    margin: 1rem 0;
    color: white;
    background-color: white;
    border: 1;
    opacity: 0.25;
}
label{
    width: auto;
}
main {
    display: flex;
    flex-wrap: nowrap;
    height: -webkit-fill-available;
    overflow-x: auto;
    overflow: auto;
}
.b-example-divider {
    flex-shrink: 0;
    width: 1.5rem;
    height: 100vh; 
}
.bi {
    vertical-align: -.125em;
    pointer-events: none;
    fill: currentColor;
}
.dropdown-toggle { outline: 0; }

.scrollarea {
    overflow-y: auto;
}
.fw-semibold { font-weight: 600; }

.lh-tight { line-height: 1.25; }  
.container-prom-grupo,.container-personas{
    width: 70%;
}
section{
    display: flex;
    flex-direction: column;
    height: 95vh;
    width: auto;
}
#selTypeProm{
    margin: 30px 0px 15px 0px;
}
.form-select{
    width: auto;
}
.materias{
    width: 80vh;
}
.materias table{
    position: relative;
    top: 40px;
    left: 90px;
}
th,td{
    text-align: center;
}