body {
    min-height: 100vh;
    min-height: -webkit-fill-available;
}

html {
    height: -webkit-fill-available;
}
hr{
    margin: 1rem 0;
    color: white;
    background-color: white;
    border: 1;
    opacity: 0.25;
}
label{
    width: 50vh;
}
main {
    display: flex;
    flex-wrap: nowrap;
    height: -webkit-fill-available;
    overflow-x: auto;
    overflow: auto;
}
.b-example-divider {
    flex-shrink: 0;
    width: 1.5rem;
    height: 100vh; 
}
.bi {
    vertical-align: -.125em;
    pointer-events: none;
    fill: currentColor;
}
.dropdown-toggle { outline: 0; }

.scrollarea {
    overflow-y: auto;
}

.fw-semibold { font-weight: 600; }

.lh-tight { line-height: 1.25; }  

form, .alumnos{
    width: 70%;
    position: relative;
    top: 30px;
}