.text-muted{
    color: white!important;
}
main{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 80vh;
}
main button{
    width: 160px;
    height: 160px;
    margin: 5px;
    padding: 10px;
    border-radius: 10%;
    border-color: darkgrey;
    border-style: double;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}
main button img{
    width: 70px;
    height: 70px;
    margin-bottom: 4px;
}
.navbar-brand{
    display: flex;
    align-items: center;
}
footer{
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
}

footer .container{
    display: flex;
    justify-content: center;
}
@media(max-width:600px){
    main{
        flex-direction: column;
    }

}