body {
  min-height: 100vh;
  min-height: -webkit-fill-available;
}

html {
  height: -webkit-fill-available;
}
hr{
  margin: 1rem 0;
  color: white;
  background-color: white;
  border: 1;
  opacity: 0.25;
}

main {
  display: flex;
  flex-wrap: nowrap;
  height: -webkit-fill-available;
  overflow-x: auto;
  overflow: auto;
}

.b-example-divider {
  flex-shrink: 0;
  width: 1.5rem;
  height: 100vh; 
}

.bi {
  vertical-align: -.125em;
  pointer-events: none;
  fill: currentColor;
}

.dropdown-toggle { outline: 0; }

.scrollarea {
  overflow-y: auto;
}

.fw-semibold { font-weight: 600; }
.lh-tight { line-height: 1.25; }

form{
  width: 500px;
  height: 350px;
}
form input, select, label, span{
  height: 30px;
}
.form-select, .form-label, input{
  padding: 0px;
  margin-bottom: 0px;
}
.container-person{
  align-items: center;
  display: flex;
}
@media(max-width:870px){
 form, .container-person{
  display: flex;
  flex-direction: row-reverse;
  flex:1;
 }
 .row{
  padding: 0px;
  width: 100%;
 }
 form{
  margin: 0px;
 }
}
@media(max-width:767px){
  form, .container-person{
    height: 100%;}
}