<form id="formFindPeople" class="d-flex flex-column mt-3">
    <div>
        <label for="txtId">Ingrese el N° de Documento</label>
        <input type="text" id="txtId" name="txtId">
    </div>
    <div>
        <button id="btnFindPeople" type="submit" class="btn btn-secondary btn-lg mt-3">Buscar</button>
    </div>
</form>
