<table class="table table-striped">
    <thead>
        <tr>
            <th scope="col">ID</th>
            <th scope="col">Nombre</th>
            <th scope="col">Edad</th>
            <th scope="col">Sexo</th>
            <th scope="col">GP Sanguineo</th>
            <th scope="col">Ciudad Residencia</th>
            <th scope="col">Correo</th>
        </tr>
    </thead>
    <tbody id="tablePerson">

    </tbody>
</table>