<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>

    <!-- Custom styles for this template -->
    <link href="../css/gAcademica.css" rel="stylesheet">

  </head>

  <body>

    <main>

      <div class="d-flex flex-column flex-shrink-0 p-3 text-white bg-dark" id="col" style="width: 310px;">
        <a href="../index.html" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto  text-white text-decoration-none">
          <img src="../img/home.png" style="margin-right:7px;" width="30" height="24" alt="Home">
          <span class="fs-4">Plataforma Academica</span>
        </a>
        <hr>
        <ul class="nav nav-pills flex-column mb-auto">
          <li class="nav-item">
            <a href="#" class="nav-link text-white" aria-current="page">
              xxx
            </a>
          </li>
          <li>
            <a href="#" class="nav-link text-white">
              Promedio Alumno
            </a>
          </li>
          <li>
            <a href="#" class="nav-link text-white">
              Promedio Grupo
            </a>
          </li>
          <li>
            <a href="#" class="nav-link text-white">
              Listado Estudiantes
            </a>
          </li>
        </ul>
        
      </div>
      
      <div class="b-example-divider"></div>
      <section>
        <div class="container-prom-alumno">
          <form class="row g-3 needs-validation">
            <div class="col-12">
              <label for="form-label">Ingrese el numero de documento del alumno</label>
              <input type="text" form="form-control">
            </div>
            <div class="col-12">
              <button class="btn btn-primary" type="submit">Inscribir clase</button>
            </div>
          </form>
        </div>
        <div class="container-prom-grupo">
  
        </div>
        <div class="container-personas">
  
        </div>
      </section>
      
    </main>

    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js" integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF" crossorigin="anonymous"></script>
    <!--<script src="sidebars.js"></script>-->
  </body>
</html>
