<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <script src="../js/jquery-3.6.3.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <!-- Custom styles for this template -->
    <link href="../css/gClases.css" rel="stylesheet">

  </head>

  <body>

    <main>
      <!--Menu Lateral-->
      <div class="d-flex flex-column flex-shrink-0 p-3 text-white bg-dark" style="width: 310px;">
        <a href="../index.html" id="home" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto  text-white text-decoration-none">
          <img src="../img/home.png" style="margin-right:7px;" width="30" height="24" alt="Home">
          <span class="fs-4">Plataforma Academica</span>
        </a>
        <hr>
        <ul class="nav nav-pills flex-column mb-auto">
          <li class="nav-item">
            <button class="nav-link text-white" id="btnCreateClass" aria-current="page">Crear Materia</button>
          </li>
          <li>
            <button class="nav-link text-white" id="btnCreateGroup" aria-current="page">Crear Grupo</button>
          </li>
          <li>
            <button class="nav-link text-white" id="btnClassGroup" aria-current="page">Asignar Materias a Grupo</button>
          </li>
          <li>
            <button class="nav-link text-white" id="btnEnrollClass" aria-current="page">Inscribir Materias</button>
          </li>
          <li>
            <button class="nav-link text-white" id="btnAddNota" aria-current="page">Agregar Calificacion</button>
          </li>         
        </ul>
      </div>
      <div class="b-example-divider"></div>
      <section class="createClass">
        <form class="row g-3 needs-validation" id="formMateria">
          <div class="col-6 col-xs-12 col-sm-12">
            <label for="form-label">Nombre Materia</label>
            <input type="text" id="txtClass" for="form-control">
          </div>
          <div class="col-6 col-xs-12 col-sm-12">
            <button class="btn btn-primary" type="submit" id="addClass">Agregar Materia</button>
          </div>
        </form>
      </section>
      <section class="createGroup">
        <form class="row g-3 needs-validation" id="formGroup">
          <div class="col-6 col-xs-12 col-sm-12">
            <label for="form-label">Nombre Grupo</label>
            <input type="text" for="form-control" id="txtGrupo">
          </div>
          <div class="col-6 col-xs-12 col-sm-12">
            <button class="btn btn-primary" type="submit" id="addGroup">Agregar Grupo</button>
          </div>
        </form>
      </section>
      <section class="enrollClass">
        <form class="row g-3 needs-validation" id="formEnrollClass">
          <div class="col-6 col-xs-12 col-sm-12">
            <label for="form-label">N Documento Estudiante</label>
            <select class="form-select" id="cmbStudent" onclick="getStudent()">
              <option value="select">Selecione</option>
            </select>
          </div>
          <div class="col-6 col-xs-12 col-sm-12" id="namestudent">
          </div>
          <div class="col-6 col-xs-12 col-sm-12">
            <label for="form-label">Nombre Grupo</label>
            <select class="form-select" id="cmbGroup">
              <option selected disabled value="">Selecione</option>
            </select>
          </div>
          <div class="col-6 col-xs-12 col-sm-12">
            <label for="form-label">Nombre Materia</label>
            <select class="form-select" id="cmbClass" onclick="getClassInscribir()">
              <option selected disabled value="">Selecione</option>
            </select>
          </div>
          <div class="col-6 col-xs-12 col-sm-12">
            <button class="btn btn-primary" type="submit" id="btnAddMate">Inscribir</button>
          </div>
        </form>>
      </section>
      <section class="addClassGroup">
        <form class="row g-3 needs-validation" id="fomraddClassGroup">
          <div class="col-6 col-xs-12 col-sm-12">
            <label for="form-label">Grupo</label>
            <select class="form-select" id="cmbGroupAssig">
              <option selected disabled value="">Selecione</option>
            </select>
          </div>
          <div class="col-6 col-xs-12 col-sm-12">
            <label for="form-label">Materia</label>
            <select class="form-select" id="cmbClassAssig">
              <option selected disabled value="">Selecione</option>
            </select>
          </div>
          <div class="col-6 col-xs-12 col-sm-12">
            <button class="btn btn-primary" type="submit" id="btnAddClasstoGroup">Inscribir</button>
          </div>
        </form>>
      </section>
      <section class="addNota">
        <div class="row g-3 needs-validation" id="formBuscar">
          <div class="col-6 col-xs-12 col-sm-12">
            <label for="form-label">Ingrese ID</label>
            <input type="text" id="txtID">
          </div>
          <div class="col-6 col-xs-12 col-sm-12">
            <button class="btn btn-primary" type="submit" id="btnbuscar" >Buscar</button>
          </div>
        </div>
        <div class="col-8 col-xs-12 col-sm-12" id="infoEstudiante"></div>
        <form class="row g-3 needs-validation" id="formAgregarNota">
          <div col-6 col-xs-12 col-sm-12 style="display: grid;">
            <label for="">Seleccione la materia</label>
            <select class="form-select" id="cmbMateria">
              <option selected disabled value="">Selecione</option>
            </select>
            <label for="">Ingrese la Nota</label>
            <input name="txtNota" id="txtNota">
          </div>
          <div col-6 col-xs-12 col-sm-12>
            <button class="btn btn-primary" type="submit" id="btnAddNotaFinal" >Agregar Nota</button>
          </div>
        </form>
      </section>
    </main>
    
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js" integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF" crossorigin="anonymous"></script>
    <script src="../js/gClass.js"></script>
  </body>
</html>
